@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: "Panno";
    src: local("UGent Panno Text");
}

.black .io {
    color: white;
}

.black, .black h1, .black h2, .black *, .black ul {
    color: black
}

.title,
.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
    font-family: "Panno", sans-serif;
    text-transform: none;
    color: #1E64C8;
    font-weight: normal;
}

.reveal .normal h1 {
    font-size: 2em;
}

.reveal .normal ul {
    list-style-type: none;
    display: inline-block;
}

.reveal .normal li {
    display: inline;
}

.reveal .normal h2 {
    font-size: 1.2em;
}

.reveal .normal h1, .reveal .normal h2, .reveal .normal h3, .reveal .normal h4 {
    font-family: "STIX Two Text", serif;
    font-style: italic;
}

.reveal .techstack {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.reveal .techstack img {
  width: 70px;
}

.reveal .techstack h2 {
}

h1.sans, h2.sans, h3.sans, h4.sans, h5.sans {
    font-family: "Source Sans 3", sans-serif;
    font-style: italic;
}

.reveal h1 {
    text-transform: none;
    font-weight: bold;
}

.title h1 {
    font-size: 2.3em;
}

.title h2 {
    font-style: italic;
}

.reveal h2 {
    font-size: 21pt;
    text-transform: none;
}

/*
.slide-background {
    background-color: #F9F8F5;
}
*/

.slide-background.blue {
    background-color: #1E64C8;
}

.blue h1, .blue h2 {
    color: white;
}

.blued {
    color: #1E64C8;
}

video {
    object-fit: fill;
}

.slide-background.dotted {
    background-color: #ffffff;
    opacity: 0.9;
    background-image: radial-gradient(#1E64C8 0.05vw, transparent 0.05vw), radial-gradient(#1E64C8 0.05vw, #ffffff 0.05vw);
    background-size: 4vw 4vw;
    background-position: 0 0, 2vw 2vw;
}

.dim {
    color: rgba(255, 255, 255, 0.6);
}

.highlight {
    font-weight: bold;
    color: white;
}

span.light {
    color: rgba(0, 0, 0, 0.3);
}

.shadow {
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

.frame {
    padding: 5pt;
}

.rounded, .frame {
    border-radius: 10pt;
}

img.pdf {
    max-width: 45%;
    padding: 3vw 5vw 3vw;
    background-color: white;
}

.citation {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-size: 16pt;
    text-align: left;
}

section.absolute {
    height: 100%;
    width: 100%;
}

div.attribution {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
}

div.image {
    padding-left: 2.5%;
    width: 100%;
    height: 100%;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.horizontal img {
    max-width: 30%;
}

.author {
    flex: 1 0 30%;;
}

div.citation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;

    /* position: fixed;
    bottom: 0; */
}

img.logo {
    max-width: 15vw;
}

.tiny.logo {
    max-height: 3em;
}

.hljs-ln-n {
    color: #6c6f85;
}

.circle {
    width: 50px;
    height: 50px;
    line-height: 52px;
    border-radius: 50%;
    font-size: 0.8em;
    text-align: center;
    border: 3px solid #d20f39;
    color: #d20f39;
    font-weight: bold;

}

#people {
  padding: 0;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#people img {
  max-width: 90px;
  max-height: 90px;
  border-radius: 90px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 12px 0 rgba(0, 0, 0, 0.19);
}

.reveal ul {
    list-style-type: none;
}

.reveal ul.challenges {
    max-width: 10vw;
    max-height: 10vw;
    display: block;
    padding: 0 15vw;
}

.challenges img, .challenge-icon {
    margin-right: 5vw;
    height: 15vh;
}

.challenges li {
  width: 100%;
  display: flex;
}

.challenges li p {
    flex-grow: 1;
    min-width: 50vw;
    max-height:
}

.reveal .no-margin {
    margin: 0;
}

#example {
    height: 27vw;
    width: 50vw;
}
